SOLIDSIGN_BASE_URL=http://localhost:8080
SOLIDSIGN_AUTHORIZATION=Bearer eyJ...
SOLIDSIGN_CERT_ID=82e227ab-8422-45a1-9936-478283c8c490
SOLIDSIGN_BATCH_INPUT_PATH=/input_files
SOLIDSIGN_BATCH_OUTPUT_PATH=/signed_results
SOLIDSIGN_PROFILE=ADRB
SOLIDSIGN_HASH_ALGORITHM=SHA256
SOLIDSIGN_POLICY_VERSION=
SOLIDSIGN_SIGNATURE_PACKAGING=ENVELOPING
